.header {
  background: var(--fg);
}

.menu {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.menuList > li {
  padding: 16px 0;
}

.button {
  justify-self: left;
  padding: 4px;
  width: 80px;
}

.button > .text {
  margin-left: 8px;
}

.link.isActive {
  background: var(--accent);
}
