.layout {
  grid-template-areas:
    "header"
    "content";
}

.header {
  grid-area: header;
}

@media (max-width: 768px) {
  .header {
    margin: 0;
  }
}

.content {
  grid-area: content;
  height: 200vh;
}
