.layout {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header"
    "content";
  height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  grid-area: header;
  padding: 0 32px;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 32px;
  padding-left: 32px;
}

.content {
  grid-area: content;
  padding-top: 32px;
  height: 200vh;
}
