.cardGrid {
  border: 1px solid var(--blue);
  padding: 20px;
}

.cardGrid .content {
  display: grid;
  grid-gap: 20px;
}

.cardGrid .content.using {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.cardGrid .content.purchased {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cardGrid .content.shelved {
  grid-template-columns: repeat(auto-fit, 300px);
}
